.App {
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	left: 35%;
}

.api_input {
	margin-bottom: 10px;
	width: 300px;
}